<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
        <body>
            <div class="main-content">
                 {{>header}}
                 <p>This site created by Marty Martinez. It uses data from mapbox.com and weatherstack.com!</p>
                 <p>Hello Elli and Fifi :P</p>
                 <img class="portrait" src="/img/doggy.png">
            </div>
            {{!-- {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            {{!-- <img class="portrait" src="/img/robot.png">
            <p>{{name}}</p> --}}
            {{>footer}} 
        </body>

</html>

